@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #FFFFFF;
}

.react-top-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  height: 60px;
}

.react-top-navbar-title-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.react-top-navbar-title-group > img {
  height: 50px;
  width: 50px;
  padding: 5px;
  border: 0px;
  margin: 0px;
}

.react-top-navbar-title-group > h1 {
  font-weight: 500;
  font-size: 40px;
  font-family: 'Inter', sans-serif;
  color: #000000;
}

.react-top-navbar-login-group > p {
  font-weight: 400;
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  color: #333333;
}

.react-index-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.react-index-search-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 0 1.5rem;
  height: 30px;
  border-radius: 9999px;
}

.react-index-search-bar_burger_icon {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.react-index-search-bar_input {
  width: 600px;
  padding: 14px 42px 14px;
  margin: 100px auto;
  border: 1px;
  border-radius: 4px;
  font-size: 16px;
  border-radius: 9999px;
  background-color: #ECE6F0;
}

.react-index-search-bar_button {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.react-index-search-bar_button > img {
  width: 40px;
  height: 40px;
}

.react-index-welcome-msg {
  font-weight: 400;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  color: #333333;
  position: relative;
  top: -40px;
}

.centered-line {
  display: block;
  text-align: center;
  width: 100%;
}
